<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>383887340072-di87ga8fl1b40s13iot8rqv45qs9e6n0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.383887340072-di87ga8fl1b40s13iot8rqv45qs9e6n0</string>
	<key>API_KEY</key>
	<string>AIzaSyACMOy_O2w1XSBKaOGGg_ckgXC3M0wxxw8</string>
	<key>GCM_SENDER_ID</key>
	<string>383887340072</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jest</string>
	<key>PROJECT_ID</key>
	<string>jest-6949c</string>
	<key>STORAGE_BUCKET</key>
	<string>jest-6949c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:383887340072:ios:09524250ac21fda6a1fb1d</string>
	<key>DATABASE_URL</key>
	<string>https://jest-6949c-default-rtdb.firebaseio.com</string>
</dict>
</plist>